@import '../node_modules/normalize.css';

:root {
  --dark-white: #fbfdfd;

  --text-color: #242038;

  --background-color: var(--dark-white);

  --font-family: 'Plus Jakarta Sans', sans-serif;

  --font-size-base: 1rem;

  --font-height-base: 1.5rem;

  --font-weight-base: 300;

  --font-weight-bold: 400;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight-base);
  font-size: varr(--font-size-base);
  line-height: var(--font-height-base);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  outline: 0;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  outline: none;
  background: none;
}

body, h1, h2, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 300;
}

.no-geo-support {
  color: #d13636;
  margin-bottom: 30px;
}